body{
    /* color:#000000; */
    background-color:#346488;
    font-family: 'Open Sans';
    font-weight: 300;
    color:black;    
}
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #A0815F;
  background-color: transparent;
}
.cadre{
  border-radius: 10px;
  background-color:white;
}
.main {
    background: url(../image/logo.png) right top no-repeat;
    background-size: contain;
    padding: 80px 20px 20px;
    margin-top: 120px;
}
@media only screen and (max-width : 992px) {
    .main {
        background: white;
        margin-top: 30px;
    }
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin-bottom: 0;
}
h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #999;
    font-size: 18px;
    margin-top: 5px;
}
form {
    margin-top: 60px;
}
input.form-control , input[type="submit"] , .btn {
    border-radius: 0px;
}
.btn {
    transition: all ease-in-out 0.2s;
}
.credits {
    margin-top: 100px;
    color: #999;
    font-size: 12px;
}
.credits a {
    color: inherit;
}
.containt-Jeux{
    width: 50%;
    margin-left:25%;
}
.tableJeux{ 
    background-color: #507C9D;
    border-collapse: collapse;
}
.tableJeux > thead > tr > th{
        text-align: center;
        width:25%;
        color:black;
}
.tableJeux > tbody > tr > td{
        text-align: center;
        width:25%;
        color:white;
}
.lienPages{
}
.container{
    margin-top:50px;//Eviter que la nav chevauche le contenant
}